.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  flex-grow: 1;

  & div, & p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.task-container {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $light-gray;
  }
}

.task-content, .task-completed {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-content {
  min-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 1rem;
  max-width: 180px;
}

.task-completed {
  font-size: 10px;
  min-width: 100px;
}